footer{
    background-color: #354259;
    color: #f3f2f0;
    
    text-align: left;
    align-content: left;
    
    width: 100%;
    bottom: 0;
}

footer p{
    padding: .5vw;
    font-size: 12px;
}

footer{
    grid-area: Foot;
}