a{
    text-decoration: none;
}

/*Page Content*/
.naturepic img{
    width: 100vw;
    height: 45vw;
    grid-area: Img;
 
}
.overview{
    font-size:22px;
    line-height: 150%;
    display:flex;
    gap: 3vw;
}

p{
    margin: 3vw 0vw 0vw 3vw;
    font-family: Antic;
}

.map{
    width: 30vw;
    padding: 3vw 3vw 3vw 0vw;
}

.map2{
    display:none;
}

/*Responsive Design*/

/*Tablets*/
@media screen and (max-width: 600px) {
    .map{
        display: none;
    }
    .map2{
        display: block;
        width: 40vw;
        margin: 3vw 30vw 3vw 30vw;
    }
    .content p{
        margin: 3vw 5vw 3vw 5vw;
    }
}