/*Link Settings*/
a:link {
	color: #4A4844;
}

a:visited {
	color: #1f3bb8;
}

a:hover {
	color: rgb(0, 0, 0);
}

a:active {
	color: grey;
}

/*Font Settings*/
@font-face {
    font-family: "Alegreya";
    src: url("fonts/AlegreyaSC-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Antic";
    src: url("fonts/Antic-Regular.ttf") format('truetype');
}

/*Dropdown + Nav Settings*/
.dropdown ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    font-size: 20px;

    margin: 0px;
    padding: 0px;

    background: #CDC2AE;
    color:#696B70;
}

.dropdown li{
    padding: 20px;
    position: relative;
}

.dropdown .submenu{
    position: absolute;
    background:#CDC2AE;
    top:37px;

    visibility:hidden;

    transition: .5s;
    text-align: center;
}

.dropdown li:hover{
    background:#e7c4a3;
}

.dropdown li:hover .submenu{
    visibility:visible;
}

.dropdown{
    grid-area: Nav;
}

/*Footer Settings*/
footer{
    background-color: #354259;
    color: #f3f2f0;
    
    text-align: left;
    align-content: left;
    
    width: 100%;
    bottom: 0;

    grid-area: Foot;
}

footer p{
    padding: .5vw;
    font-size: 12px;
}

/*Header Settings*/
header{
    background-color: #354259;
    color:#f3f2f0;
    font-family: Alegreya;
    grid-area: Head;
    text-align:center;
    margin-bottom: 0;
}

h1{
    font-size:30px;
}

header h3{
    font-size: 20px;
}

body{ /*Formatting for Header and Nav*/
    margin: 0;
    background-color: #ECE5C7;
    display: grid;
    grid-template-areas:"Nav Nav Nav" 
                        "Head Head Head"
                        "Content Content Content"
                        "Foot Foot Foot";
}

a{
    text-decoration: none;
}

/*Page Content*/
.naturepic img{
    width: 100vw;
    height: 45vw;
 
}
.overview{
    font-size:22px;
    line-height: 150%;
    display:flex;
    gap: 3vw;
}

p{
    margin: 3vw 0vw 0vw 3vw;
    font-family: Antic;
}

.map{
    width: 30vw;
    padding: 3vw 3vw 3vw 0vw;
}

.map2{
    display:none;
}

/*Responsive Design*/

/*Tablets*/
@media screen and (max-width: 600px) {
    .map{
        display: none;
    }
    .map2{
        display: block;
        width: 40vw;
        margin: 3vw 30vw 3vw 30vw;
    }
    .content p{
        margin: 3vw 5vw 3vw 5vw;
    }
}