/*Link Settings*/
a:link {
	color: #4A4844;
}

a:visited {
	color: #1f3bb8;
}

a:hover {
	color: rgb(0, 0, 0);
}

a:active {
	color: grey;
}

/*Font Settings*/
@font-face {
    font-family: "Alegreya";
    src: url("fonts/AlegreyaSC-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Antic";
    src: url("fonts/Antic-Regular.ttf") format('truetype');
}

/*Settings for Slideshow*/
.next {
    right: 0;
  }

.prev{
    left: 0;
  }

.prev:hover, .next:hover {
    background-color: black;
    opacity: .5;
}

.slides {
  display: none;
  box-sizing: border-box;
}

.slides img {
  height: 35vw; 
  width: 100%;
}

.prev, .next {
  font-weight: bold;
  font-size: 20px;
  color:#FFFFFF;

  position: absolute;
  top: 30vw;
  padding: 16px;
}

/*Dropdown + Nav Settings*/
.dropdown ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    font-size: 20px;

    margin: 0px;
    padding: 0px;

    background: #CDC2AE;
    color:#696B70;
}

.dropdown li{
    padding: 20px;
    position: relative;
}

.dropdown .submenu{
    position: absolute;
    background:#CDC2AE;
    top:37px;

    visibility:hidden;

    transition: .5s;
    text-align: center;
}

.dropdown li:hover{
    background:#e7c4a3;
}

.dropdown li:hover .submenu{
    visibility:visible;
}

.dropdown{
    grid-area: Nav;
}

/*Header Settings*/
header{
    background-color: #354259;
    color:#f3f2f0;
    font-family: Alegreya;
    grid-area: Head;
    text-align:center;
    margin-bottom: 0;
}

h1{
    font-size:30px;
}

header h3{
    font-size: 20px;
}

body{ /*Formatting for Header and Nav*/
    margin: 0;
    background-color: #ECE5C7;
    display: grid;
    grid-template-areas:"Nav Nav Nav" 
                        "Head Head Head"
                        "Content Content Content"
                        "Foot Foot Foot";
}

a{
    text-decoration: none;
}

/*Footer Settings*/
footer{
    background-color: #354259;
    color: #f3f2f0;
    
    text-align: left;
    align-content: left;
    
    width: 100%;
    bottom: 0;

    grid-area: Foot;
}

footer p{
    margin: 0vw 2vw 0vw 2vw;
    font-size: 12px;
}

/*Page Content*/
.content{
    grid-area: Content;
}

p{
    font-family: Antic;
    font-size: 20px;
    margin: 0 35vw 0 10vw;
}

.campsite{
    margin-right: 40vw;
}
div h3{
    font-family: Antic;
    margin:1vw 35vw 1vw 10vw;
}

.overview{
    padding-top: .5vw;
}

.Cottages{
    margin-bottom: 3vw;
    padding-right:15vw;
}

.camppic {
    width: 100vw;
    height:40vw;
}

.actmap, .cabpic{
    float:right;
    width:30vw;
    padding-left:10vw;
    padding-right:10vw;
}

/*Tablets and Phones*/
@media screen and (max-width:800px){
    .actmap, .cabpic {
        display:none;
    }

    p{
        text-align: center;
        padding: 1vw 5vw 1vw 5vw;
        margin:auto;
    }

    div h3{
        text-align: center;
        padding-top:3vw;
        margin:auto;
    }

    .Cottages{
        padding-right:0;
    }
}